<br />
<img src="~/images/acessonegado.jpg" alt="Acesso negado" class="marginTop1" />
<div class="container">
    <div class="jumbotron">
        <p>
            <h2>Acesso não autorizado</h2>
            <br />
            <p>
                O login utilizado não possui acesso administrativo
            </p>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Volta a Home Page</a>
</div>